/* main{
    background-color: #ead1cb;
} */
@import url(cabecalho.css);

.gradient-custom {
    /* fallback for old browsers */
    background: #ead1cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ead1cb);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ead1cb )
    }