@import url(cabecalho.css);

.caixa-form {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.caixa-form form{
    text-align: center;
    margin-top: 50px;
}

.caixa-form label{
    display: block;
    padding: 5px;
    font-size: 22px;
    font-family: 'Auton', sans-serif;
    margin: 0 auto;
}

.caixa-form input{
    width: 30%;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.caixa-form button {
    width: 60px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}