@import url(cabecalho.css);

.caixa-form{
    width: 1000px;
    margin: 0 auto;
}

.caixa-form form{
    text-align: center;
    margin-top: 50px;
}
.caixa-form input, label {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}

.caixa-form label {
    font-size: 22px;
    font-family: 'Auton', sans-serif;
}

#btRecuperar {
    margin-top: 10px;
    padding: 5px;
    border-radius: 12px;
}